body {
  font: 400 18px/27px "Raleway",sans-serif;
  color: #232a33;
  font-family: "Raleway",sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font: inherit;
  color: #191919;
  text-decoration: none;
  display: inline-block;
  transition: .3s;
}

#wrapper {
  overflow: hidden;
  min-height: 500px;
}

/* header */
#header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#header .header-content {
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .header-content .logo {
  margin-top: -14px;
}

#header .header-content .logo .home img {
  max-width: 100%;
  height: auto;
}

#header .header-content .contact {
  margin-top: 0;
  line-height: 1.94;
  display: flex;
  align-items: center;
}

#header .header-content .contact .address {
  display: inline;
  padding-right: 40px;
  position: relative;
  margin: 0;
}

#header .header-content .contact .address:after {
  content: "";
  position: absolute;
  right: 25px;
  top: -7px;
  height: 51px;
  width: 1px;
  background-color: #cfd0d2;
}


#header .header-content .contact .phone {
  margin-top: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

#header .header-content .contact .phone .text {
  color: #1caffc;
}

#header .header-content .contact .phone .text .icon {
  font-size: 34px;
  margin-right: -8px;
  line-height: inherit;
  display: inline-block;
  text-align: center;
}

#header .header-content .contact .phone .text .note {
  font-size: 14px;
  font-weight: 800;
  position: relative;
  top: -19px;
  left: -10px;
}
/* end header */

/* highlighted */
#highlighted .camera_wrap .camera_prev,
#highlighted .camera_wrap .camera_next {
  display: none;
}

#highlighted .camera_wrap .cameraContents .camera_caption {
  bottom: 137px;
}

#highlighted .camera_wrap .cameraContents .camera_caption > div {
  background: none;
}

#highlighted .camera_wrap .cameraContents .camera_caption h1 {
  font-size: 70px;
  line-height: 1.2125;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .06em;
}

#highlighted .camera_wrap .cameraContents .camera_caption h4 {
  line-height: 1.5833;
  margin-top: 36px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: .06em;
}

#highlighted .camera_wrap .camera_pag .camera_pag_ul {
  top: -100px;
  text-align: left;
  position: relative;
  width: 1200px;
  margin: auto;
  padding: 0 15px;
}

#highlighted .camera_wrap .camera_pag .camera_pag_ul li {
  display: inline-block;
  position: relative;
  width: 21px;
  height: 21px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #00baff;
  transition: .3s all ease;
}

#highlighted .camera_wrap .camera_pag .camera_pag_ul li:hover {
  background: #00baff;	
}

#highlighted .camera_wrap .camera_pag .camera_pag_ul .cameracurrent {
  background: #00baff;
}

#highlighted .camera_wrap .camera_pag .camera_pag_ul li > span {
  display: none;
}

.text-primary {
  color: #1caffc !important;
}
/* end highlighted */